<!DOCTYPE html>
<html lang="pt-BR"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Detalhes do Usuário</title>
</head>
<body>
<h1>Detalhes do Usuário</h1>
<p><strong>ID:</strong> <span th:text="${usuario.id}"></span></p>
<p><strong>Nome da Empresa:</strong> <span th:text="${usuario.nomeEmpresa}"></span></p>
<p><strong>Email:</strong> <span th:text="${usuario.email}"></span></p>
<p><strong>CNPJ:</strong> <span th:text="${usuario.cnpj}"></span></p>
<a th:href="@{/usuario/editar/{id}(id=${usuario.id})}">Editar</a>
</body>
</html>
