<!DOCTYPE html>
<html lang="pt-BR" xmlns="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Novo Registro de Acesso</title>
</head>
<body>

<h1>Novo Registro de Acesso</h1>

<!-- Formulário para criação de um novo registro de acesso -->
<form th:action="@{/salvarAcesso}" method="post">

    <!-- Campo de seleção de usuários -->
    <label for="usuario">Usuário:</label>
    <select name="usuario.id" id="usuario" required>
        <option value="" disabled selected>Selecione um usuário</option>
        <!-- Loop para exibir todos os usuários disponíveis -->
        <option th:each="usuario : ${usuarios}" th:value="${usuario.id}" th:text="${usuario.nomeEmpresa}"></option>
    </select>
    <br/>

    <!-- Botão de submissão do formulário -->
    <button type="submit">Registrar Acesso</button>
</form>

</body>
</html>
