<!DOCTYPE html>
<html lang="pt-BR" xmlns="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Lista de Acessos</title>
</head>
<body>

<h1>Lista de Acessos</h1>

<!-- Link para registrar um novo acesso -->
<a th:href="@{/novoAcesso}">Registrar novo acesso</a>

<!-- Tabela de registros de acesso -->
<table border="1">
  <thead>
  <tr>
    <th>ID</th>
    <th>Data e Hora de Acesso</th>
    <th>Usuário</th>
  </tr>
  </thead>
  <tbody>
  <!-- Loop através da lista de acessos -->
  <tr th:each="acesso : ${listaAcessos}">
    <td th:text="${acesso.id}"></td>
    <td th:text="${#dates.format(acesso.dataHoraAcesso, 'dd/MM/yyyy HH:mm')}"></td>
    <td th:text="${acesso.usuario.nomeEmpresa}"></td>
  </tr>
  </tbody>
</table>

</body>
</html>
