<!DOCTYPE html>
<html lang="pt-BR"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Formulário de Produto</title>
</head>
<body>

<h1 th:text="${produto.id == null} ? 'Novo Produto' : 'Editar Produto'">Produto</h1>

<form th:action="${produto.id == null} ? @{/produto/salvar} : @{/produto/atualizar/{id}(id=${produto.id})}" method="post">
    <label for="nomeProd">Nome do Produto:</label>
    <input type="text" id="nomeProd" name="nomeProd" th:value="${produto.nomeProd}" required/>
    <br/>

    <label for="descricao">Descrição:</label>
    <textarea id="descricao" name="descricao" th:text="${produto.descricao}" required></textarea>
    <br/>

    <label for="preco">Preço:</label>
    <input type="number" id="preco" name="preco" th:value="${produto.preco}" required min="0.99" step="0.01"/>
    <br/>

    <label for="categoria">Categoria:</label>
    <select id="categoria" name="categoria" required>
        <option value="" disabled>Selecione uma categoria</option>
        <option th:each="categoria : ${categorias}"
                th:value="${categoria}"
                th:text="${categoria.descricao}"
                th:selected="${categoria == produto.categoria}"></option>
    </select>
    <br/>

    <button type="submit" th:text="${produto.id == null} ? 'Salvar' : 'Atualizar'"></button>
</form>

</body>
</html>
